<!DOCTYPE html>
<html>
    <head>
        <title>Idea of a Pear</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"></meta>
        <link rel="shortcut icon" type="image/png" href="favicon.png"></link>
        <link href="home.css" rel="stylesheet">
        <!-- twitter -->
        <meta name="twitter:card" content="summary_large_image"></meta>
        <meta name="twitter:title" content="Idea of a 🍐"></meta>
        <meta name="twitter:description" content="Send the idea of a pear"></meta>
        <meta name="twitter:image" content="http://image.elliott.computer/pears.png"></meta>
    </head>
    <body>
        <div id="container">
            <div id="box">
                <h1><span id="pears">🍐</span></h1><br />
                <div id="checkout">
                    <input id="cart-quantity-input" type="number" value="1" style="display: none;" />
                    <span id="cart-quantity-display">1</span>&nbsp;&nbsp;
                    <button id="button-down">-</button>
                    <button id="button-up">+</button><br />

                    <label>Total Price:</label>&nbsp;

                    <p id="total">
                        <span class="cart-total-price">$0.66</span>
                    </p><br />


                    <input type="text" id="from-name" name="from-name" maxlength="50" placeholder="Your name" /><br />

                    <input type="text" id="recipients-name" name="recipients-name" maxlength="25" placeholder="Friends name" size="30" /><br />

                    <input type="email" id="recipients-email" name="recipients-email" minlength="3" placeholder="Friends email" size="32" /><br />
                    <p id="item-price" style="display:none;">$<%= Number.parseFloat(pear.price / 100).toFixed(2) %></p>

                    <p><em class="light" style="margin-top: 20px;">Recipient will receive an email with the idea of <span id="pear-quantity-text">a pear</span>.</em></p><br />

                    <button id="pearview-open">Pearview</button><br /><br />

                    <br />

                    <div class="credit">Made on <a href="https://elliott.computer/">Elliott's Computer</a></div>
                </div>
            </div>
        </div>
        <div id="purchased">
        <%= totalPurchased %>
        </div>

        <div id="pearview">
            <div id="pearview-inner">
                <div id="email">
                    
                </div>

                <div id="buttons">
                    <button id="pearview-close">Edit</button>
                    <button id="btn-purchase">Pay & Send</button>

                    <br /><br />

                    <em class="tiny light">Payments are handled by Stripe.</em>
                </div id>
            </div>
        </div>

        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script>
            var stripePublicKey = '<%= stripePublicKey %>'
        </script>
        <script src="home.js" defer></script>
    </body>
</html>