* { box-sizing: border-box; }
body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    /* color: #555968; */
    color: #000;
    font-size: 16px !important;
    /* overflow-y: hidden; */
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, a, ul, ol, li, p {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
input[type='text'], input[type='email'], input[type='number'], textarea {
  border: 1px solid #cacaca;
  -webkit-appearance: none; 
  appearance: none;
  padding: 5px;
  border-radius: 3px;
}
input, button { font-size: 16px; }
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#box {
    /* background: red; */
    text-align: center;
}
h1, #pears { font-size: 100px; }
h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1em;
}
button {
    border: 1px solid #cacaca;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    background: linear-gradient(0deg, #dddddd 0%, #f7f7f7 100%);
    min-width: 30px;
    cursor: pointer;
}
button:hover {
    background: linear-gradient(0deg, #dddddd 0%, #f7f7f7 50%);
}
#checkout {
    font-size: 16px;
    line-height: 2.4;
}
#purchased {
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
}
#total {
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding: 2px 6px;
    display: inline-block;
    margin: 1em 0;
}
button { cursor: pointer; }
em { line-height: 1.5; display: inline-block; }
.light { opacity: .5; }
.tiny { font-size: 12px; }
hr {
    width: 5px;
    height: 2px;
    background: #d4d4d4;
    margin: 10px auto;
    border: 0;
}

/* Pearview */

#pearview {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#pearview #buttons, #pearview #email {
    width: 600px;
}
#pearview #buttons {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}
#pearview #buttons button:nth-child(1) { margin-right: 3px; }
#pearview #email {
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    padding: 20px;
    font-size: 22px;
    line-height: 1.5;
    color: #000;
}
#pearview #email a {
    color: #000;
}
#pearview-pears {
    font-size: 40px;
    line-height: 1.3;
}
.credit {
    color: #8f8f8f;
    font-size: 12px;
}
.credit a {
    color: #8f8f8f;
}
/* #pearview-open { color: blue; text-decoration: underline; cursor: pointer; } */

@media (max-width:565px) {
    h1, #pears { font-size: 60px;}
    #pearview #buttons, #pearview #email {
        width: 100%;
    }
    em { font-size: 12px; }
}